export EC2_HOME={{ ec2_home }}
#export EC2_URL={{ ec2_url }}
export AWS_ACCOUNT_NUMBER={{ ec2_account_number }}
export AWS_ACCESS_KEY={{ ec2_access_key }}
export AWS_SECRET_KEY={{ ec2_secret_key }}
export AWS_AMI_BUCKET={{ ec2_ami_bucket }}
export JAVA_HOME={{ ec2_java_home }}
export PATH=$EC2_HOME/bin:$PATH